@import "tailwindcss/base";

@import "tailwindcss/components";
@import "buttons";
@import "cards";

@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
}

.hero {
    background: url("../img/pexels-iván-rivero-1633970.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#app p {
    @apply mb-3;

    a {
        @apply border-b-2 border-green-400;
        &:hover {
            @apply text-green-400;
        }
    }
}

.input {
    @apply appearance-none block w-full bg-gray-300 text-gray-700 rounded py-3 px-4 leading-tight;

    &:focus {
        @apply outline-none bg-gray-200;
    }
}

.input-label {
    @apply text-sm text-gray-700 font-bold;
}

.dropdown-toggle {
    > button:focus {
        outline: 0;
    }
}

.dropdown-menu-link {
    @apply block text-sm py-2 px-4 w-full text-left;

    &:hover {
        @apply bg-gray-200;
    }
    &:focus {
        @apply outline-none;
    }
}

.modal {
    @apply p-10 bg-white rounded-lg;
}

.vm--container > .vm--modal {
    overflow: visible;
}

#autosuggest {
    @apply relative w-full block;
}
.autosuggest__results-item--highlighted {
    @apply bg-gray-200;
}
.autosuggest__results-container {
    @apply absolute bg-white rounded-b shadow z-10 overflow-hidden;
}
.autosuggest__results-item {
    @apply p-2 cursor-pointer;
    &:hover {
        @apply bg-gray-200;
    }
}
